@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'skills';
@import 'contact';
@import 'projects';
@import 'titles';
@import 'responsive';
@import 'base';
@import 'buttons';
@import 'reset';


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: $primary-color;
    color: $third-color;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
    @include transition-ease;
    &:hover {
        color: $secondary-color;
    }
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: $secondary-color;
    background-color: white;
}